	


	@import './vars';
	
	


	/************************************* RESET *************************************/
	
	* {
		padding: 0px;
		margin: 0px;
	}


	/************************************* ELEMENTS *************************************/

	.p, p {
		display: block;
		margin: 1em 0em;
	}

	img {
		vertical-align: middle;
	}
	


	/************************************* FLOATER *************************************/

	.floater, .moduleInner, .modulePadding {
		display: block;
		max-width: 1200px;
		height: auto;
		margin: 0px auto;

		padding: 0px $spacing;
		padding: 0px var(--fvw-spacing);
	}

	.moduleInner, .modulePadding {
		padding: ($spacing * 1.5);
		padding: calc(var(--fvw-spacing) * 1.5);
	}

	.gdymc_edit .moduleInner::before {
		content: 'Die Klasse .moduleInner ist veraltet! Nutze stattdessen die .modulePadding Klasse.';
		display: block;
		padding: 0.5em 1em;
		color: #fff;
		text-align: center;

		background: $error;
		background: var(--fvw-error);
	}



	
	/************************************* DETAILS *************************************/

	details {
		display: block;
		margin: 1em 0em;

		border-radius: $radius;
		border-radius: var(--fvw-radius);

		border: solid $border $initial;
		border: solid var(--fvw-border) var(--fvw-initial);
	}

	details:hover, details[open] {
		border: solid $border $hover;
		border: solid var(--fvw-border) var(--fvw-hover);
	}

	details > summary {
		display: block;
		cursor: pointer;

		padding: 0.8em 2.5em 0.8em 1.1em;

		outline: none;
		position: relative;
		font-weight: bold;
	}

	details > summary::after {
		font-family: 'Font Awesome 5 Pro';
		content: '\f0d7';
		position: absolute;
		top: 50%;

		right: 1.1em;

		font-weight: bold;
		transform: translateY(-50%);
	}

	details[open] > summary::after {
		content: '\f0d8';
	}

	details > summary::-webkit-details-marker {
		display:none;
	}

	details > section {
		padding: 0.3em 1.2em;
		
		border-top: solid $border $hover;
		border-top: solid var(--fvw-border) var(--fvw-hover);
	}
	




	/************************************* TABS *************************************/
	
	.tab_content {
		display: none;
	}

	.tab_content.active {
		display: block;
	}






	/************************************* DATEPICKER *************************************/
	
	.fvw_datepicker {
		box-shadow: inset 0px 0px 0px 2px #ddd;
	}

	.fvw_datepicker .ui-datepicker-header {
		position: relative;
	}
	
	.fvw_datepicker .ui-datepicker-prev,
	.fvw_datepicker .ui-datepicker-next {
		position: absolute;
		width: 30%;
		height: 100%;
		top: 0px;
		overflow: hidden;
		cursor: pointer;
		color: #111;
	}

	.fvw_datepicker .ui-datepicker-prev::after,
	.fvw_datepicker .ui-datepicker-next::after {
		font-family: 'Font Awesome 5 Pro';
		content: '\f053';
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -25px;
		margin-left: -25px;
	}

	.fvw_datepicker .ui-datepicker-next {
		right: 0px;
	}

	.fvw_datepicker .ui-datepicker-next::after {
		content: '\f054';
	}

	.fvw_datepicker .ui-datepicker-prev.ui-state-disabled,
	.fvw_datepicker .ui-datepicker-next.ui-state-disabled {
		opacity: 0.2;
	}

	.fvw_datepicker .ui-datepicker-title,
	.fvw_datepicker th {
		padding: 15px 0px;
		box-shadow: 0px 2px 0px #ddd;
		color: #111;
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
	}

	.fvw_datepicker table {
		width: 100%;
		table-layout: fixed;
		padding-bottom: 20px;
		border-collapse: collapse;
	}

	.fvw_datepicker td {
		position: relative;
		z-index: 1;
	}

	.fvw_datepicker td a,
	.fvw_datepicker td span {
		color: #333;
		display: block;
		text-align: center;
		padding: 12px 0px;
		border-radius: 3px;
	}

	.fvw_datepicker td.ui-datepicker-unselectable a,
	.fvw_datepicker td.ui-datepicker-unselectable span {
		opacity: 0.4;
		cursor: not-allowed;
	}

	.fvw_datepicker td.ui-datepicker-other-month a,
	.fvw_datepicker td.ui-datepicker-other-month span {
		opacity: 0.4;
	}

	.fvw_datepicker td.ui-datepicker-today a,
	.fvw_datepicker td.ui-datepicker-today span {
		background: rgba(0,0,0,0.04);
	}

	.fvw_datepicker td.ui-datepicker-current-day a,
	.fvw_datepicker td.ui-datepicker-current-day span {
		background: #333;
		color: #fff;
	}




