	
	
	@import './flatpickr';
	@import './vars';
	@import './elements';
	@import './form';
	@import './smart';
	@import './animate';
	@import './mobilemenu';
	@import './privacy';
	


	// Wrapper

	.flatpickr-calendar {
		box-shadow: 0px 1px 5px rgba(0,0,0,0.2), 0px 0px 60px rgba(0,0,0,0.4);
		border-radius: var(--fvw-radius);
		user-select: none;
		font-size: inherit;
		line-height: inherit;
		// overflow: hidden;

		// position: fixed !important;
		// top: 50% !important;
		// left: 50% !important;
		// transform: translate(-50%,-50%) !important;
	}


	// Header (month and arrows)

	.flatpickr-months {
		border-radius: var(--fvw-radius) var(--fvw-radius) 0px 0px;
		position: relative;
	}
	
	.flatpickr-months,
	.flatpickr-months .flatpickr-month,
	.flatpickr-months .flatpickr-current-month,
	.flatpickr-current-month .flatpickr-monthDropdown-months {
		height: auto;
		line-height: 1;
		padding: 0px;
		margin: 0px;
		text-align: center;
	}

	.flatpickr-current-month {
		display: inline-block;
		position: static;
		width: 50%;
		font-weight: 400;
		font-size: 1.3em;
	}

	.flatpickr-current-month .numInputWrapper {
		display: none;
	}

	.flatpickr-current-month .flatpickr-monthDropdown-months,
	.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
		height: auto;
		line-height: 50px;
		font-weight: 400;
		font-size: inherit;
		background: transparent;
		width: 100%;
		text-align: center;
  		text-align-last: center;

		box-sizing: content-box;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		-o-box-sizing: content-box;
		-ms-box-sizing: content-box;	
		
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
	}

	.flatpickr-months .flatpickr-prev-month,
	.flatpickr-months .flatpickr-next-month,
	.flatpickr-months .flatpickr-prev-month:hover,
	.flatpickr-months .flatpickr-next-month:hover {
		height: 100%;
		width: 25%;
		padding: 0px;
		color: #000;
	}

	.flatpickr-months .flatpickr-prev-month .icon,
	.flatpickr-months .flatpickr-next-month .icon {
		position: absolute;
		font-size: 1.0em;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		margin-top: 0.1em;
	}



	// Weekdays

	.flatpickr-weekdays {
		height: 35px;

		border-top: solid $border #eee;
		border-top: solid 1px #eee;

	}

	span.flatpickr-weekday {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 1em;
		opacity: 0.5;
		font-size: 0.9em;
	}



	// Time

	.flatpickr-time .flatpickr-time-separator {
		display: none;
	}
	
	.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
		border-top: 0px;
	}

	.flatpickr-time,
	.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
		height: 50px;
		line-height: 50px;
		max-height: 50px;
	}

	.flatpickr-time input {
		font-size: inherit;
	}



	// Days

	.flatpickr-days {
		background: #fbfbfb;
		padding: 0.5em 0em;
	}


	.flatpickr-day.today {
		background: transparent;
		border-color: transparent;
		color: initial;
	}
	
	.flatpickr-day.today:hover,
	.flatpickr-day.today:focus,
	.flatpickr-day.inRange,
	.flatpickr-day.prevMonthDay.inRange,
	.flatpickr-day.nextMonthDay.inRange,
	.flatpickr-day.today.inRange,
	.flatpickr-day.prevMonthDay.today.inRange,
	.flatpickr-day.nextMonthDay.today.inRange,
	.flatpickr-day:hover,
	.flatpickr-day.prevMonthDay:hover,
	.flatpickr-day.nextMonthDay:hover,
	.flatpickr-day:focus,
	.flatpickr-day.prevMonthDay:focus,
	.flatpickr-day.nextMonthDay:focus {
		color: initial;
	    background: rgba(0,0,0,0.03);
    	border-color: transparent;
	}
	
	.flatpickr-day.selected,
	.flatpickr-day.startRange,
	.flatpickr-day.endRange,
	.flatpickr-day.selected.inRange,
	.flatpickr-day.startRange.inRange,
	.flatpickr-day.endRange.inRange,
	.flatpickr-day.selected:focus,
	.flatpickr-day.startRange:focus,
	.flatpickr-day.endRange:focus,
	.flatpickr-day.selected:hover,
	.flatpickr-day.startRange:hover,
	.flatpickr-day.endRange:hover,
	.flatpickr-day.selected.prevMonthDay,
	.flatpickr-day.startRange.prevMonthDay,
	.flatpickr-day.endRange.prevMonthDay,
	.flatpickr-day.selected.nextMonthDay,
	.flatpickr-day.startRange.nextMonthDay,
	.flatpickr-day.endRange.nextMonthDay {
		color: #fff;
		text-shadow: 0px 1px 6px rgba(0,0,0,0.2);
		
		background: $highlight;
		background: var(--fvw-highlight);

		border-color: $highlight;
		border-color: var(--fvw-highlight);
	}






